[2020-07-19 09:21] gammaw opened #1 "Create API documentation"
Candidate: Swagger, in which case the todos are:
- Create OpenAPI specs of arcsi APIs
- Host and server Swagger UI on arcsi server

[2020-08-01 11:07] gammaw commented on #1
Hint: https://medium.com/@sean_bradley/add-swagger-ui-to-your-python-flask-api-683bfbb32b36

[2020-08-21 14:50] gammaw opened #2 "Instable audio responses"
- Internal server error (key & mempry problems)
- "mini" files

[2020-08-24 17:45] gammaw opened #3 "Develop basic UI for Arcsi"

[2020-08-30 10:40] gammaw opened #5 "'os' is not defined in config.py"
The app won't start because of an error in these lines (see error in subject): https://github.com/mmmnmnm/lahmacun_arcsi/blob/c3ad4aef5920f0e1eac6f7501a9f785a3eb7c2fd/config.template.py#L32-L34

If lines are commented out app starts correctly.

[2020-08-30 11:06] gammaw opened #6 "Configure email client"
... although it seems to be no error (entry appears in DB etc.).

[2020-08-30 14:22] gammaw commented on #1
Open API spec: https://swagger.io/specification/

[2020-08-30 16:17] gammaw opened #7 "Consolidate DB credentials config"
Currrently the db env template contains the DB credentials, which I guess should be OK, as it's not accessible from outside. Then the config.py template could also contain the credentials. Now they need to be replaced manually.

[2020-08-30 16:51] gammaw opened #8 "Roles cannot be added by arcsi app if DB is empty"
Following lines need to be commented out upon first execution, then put back so that roles will be correctly entered:

https://github.com/mmmnmnm/lahmacun_arcsi/blob/bf70f7b9a98654010cc0dfc513a350a803e56d03/arcsi/__init__.py#L39-L41

[2020-08-30 21:21] pvj commented on #1
Maybe we should split this up?

On Sun, Aug 30, 2020 at 4:23 PM gammaw <notifications@github.com> wrote:

--
^\^

[2020-09-18 16:51] gammaw commented on #3
@baxgas thanks & great! We'll close this one and open new issues as we go on with the arcsi front-end. If you have ideas, feel free to create new issues.

[2020-09-18 16:53] #5 closed

[2020-09-18 16:53] gammaw commented on #5
542d2418b59e2b5fc490af6c842f13f4dd14d0f7

[2020-09-18 16:57] gammaw commented on #6
Current use case: sending confirmation to new users.

[2020-09-18 17:10] gammaw commented on #2
Unclear when it manifests. We'll test it in production and reopen it if needed.

[2020-09-18 17:10] #2 closed

[2020-09-19 10:06] gammaw opened #10 "Show episode name and cover image edit without file upload to Azuracast"

[2020-09-19 10:18] gammaw opened #11 "Consolidate brodcast vs airing flags"

[2020-09-19 20:02] gammaw opened #12 "Delete item not working?"
I tried to delete item (on prod the one with 43) and I couldn't. The delete action returned a json response but the item didn't disappear (checked in DB too, it's tehre).

[2020-09-19 20:45] gammaw opened #13 "Add validation for audio files and images"
By mistake, I uploaded an mp3 as cover image and the image as audio file. On DO side the result is correct (DO doesn't know what is what) but in Azuracast it results in a wrong state (the entry is there, the playlist is set, but an image is used for the audio file).

Can we add some basic validation on the client side such that we check for **mp3 and mp4** for the audio file, and **jpeg and png**

[2020-09-20 07:23] baxgas commented on #3
@gammaw I still need to work on it for this beta version, now that real data was available, there are some stuff that needs to be fixed.

[2020-09-20 18:47] gammaw opened #14 "Auto suggest episode number"
For example, based on the last know episode number (incremented by one).

[2020-09-20 18:55] gammaw opened #15 "Optional cover image for episodes"

[2020-09-21 14:34] gammaw opened #16 "Delete existing show on Azuracast when live flag is selected"
Possible workflow:
1. Live show info is sent to submit (show host)
2. New item (episode) is created on arcsi (IT staff)
   - No upload to Azuracast nor to DO
3. Recorded live show is sent to submit (show host)
4. Existing item is edited on arcsi (IT staff)
   - Upload to Azuracast and to DO

[2020-09-22 11:57] pvj opened #17 "Name resolution issues"
seeing some lines like this in the logs:
[code]

Should look into whether this is due to our subdomain resolution or IP resolution of the container itself.

[2020-09-22 12:22] gammaw commented on #17
Was this the root cause of why the server was not available? How did you fix it?

[2020-09-22 12:25] pvj commented on #17
I didn't do anything. Seemed like docker processes hung, but I have yet to
investigate.

On Tue, Sep 22, 2020 at 2:22 PM gammaw <notifications@github.com> wrote:

--
^\^

[2020-09-22 15:56] pvj commented on #3
We need some more substantial front-end changes too, I think, apart from UI updates. Like for example:

AJAX-based POST / PUT requests
Consolidate UX: top menu should make more sense (we don't need `add new items` for example, I think)
Actions such as `broadcast`, `archive`, `live` etc. shouldn't be on the `add` or `edit` pages, I think we will need a `dashboard` or `control panel` type view where

[2020-09-22 16:06] pvj commented on #15
@gammaw by default image you mean the show cover url?

[2020-09-22 16:45] pvj commented on #10
Currently we are pre-embedding the images to the audio file. This was what we agreed on as we saw no other way to apply image (addition or update, doesn't matter) through the Az API. So it wouldn't be possible to update the image w/o updating the file, I think.

These are substantial changes && ideas though, and they would be needed, I agree. So let's continue to discuss this here and live too

[2020-09-22 16:46] pvj commented on #14
Yeah, this is UI/UX improvement, I think.

The `show` object holds all the associated episodes so you could get the last one of them, increment by one, display it in the episode number field as the default value.

cc @baxgas am I getting this right?

[2020-09-25 17:26] gammaw opened #18 "Issue with m4u files?"

[2020-10-08 09:23] gammaw opened #19 "Searchable show name on add new episode form"

[2020-10-10 19:23] gammaw opened #20 "Playlist not assigned on upload"
We don't know when it happens. It happened with this one:  `transverszia #13 : a lovetape by jeune pousse du 91` (file name: `transverszia #13 a lovetape by jeune pousse du 91.mp3`).

[2020-10-18 20:35] baxgas commented on #20
Also:
Episode parent show: A Who Say
Episode play file name: awhosay#16_dj_aaalbert_guestmix.mp3
Episode archive lahmastore URL : 16/awhosay16_dj_aaalbert_guestmix.mp3
Happened after two shows successfully uploaded before

[2020-10-21 02:04] pvj opened #21 "502 error on upload"
Last Sunday, Udcsi 15 returned 502. We should investigate what happened.

[2020-10-21 15:23] pvj commented on #20
Yeah, I think it might have to do w/ the hashmark but the error seems to happen on the Az backend.
In order to understand this issue I added basic logging (which was planned and needed prerequisite anyway) and added some debug log messages around the place playlist gets assigned. I made test on our dev environment w/ small file that has hashmark in its name and saw the following in logs:

[code]

[2020-10-22 12:01] gammaw commented on #21
I assigned it to the project.

[2020-10-22 12:03] gammaw commented on #20
NICE!

[2020-10-22 13:37] gammaw commented on #20
@pvj is this PR/merge (https://github.com/mmmnmnm/lahmacun_arcsi/pull/24) related to this upload issue? Or is there another issue for it?

How can one configure the log level? By overwriting `info` to `debug` in https://github.com/mmmnmnm/lahmacun_arcsi/blob/52d9408e2f5448a2f17af55733c9e19639784337/entrypoint.sh?

Another beginner question: how can I read the logs? By running `docker service logs`

[2020-10-22 16:21] gammaw opened #25 "Server error on listen/download (irregular)"
@pvj I guess there was no issue for this yet, or was there? Is only listen or download too?

[2020-10-23 08:36] gammaw commented on #25
@gammaw yeah it happens for both use cases.

Just tried for `/item/61/listen` and the result:

![image](https://user-images.githubusercontent.com/28865986/96975883-66ec6200-151b-11eb-9d1c-502df2c24870.png)

And for `/item/61/download` and the result was this:

![image](https://user-images.githubusercontent.com/28865986/96975954-83889a00-151b-11eb-8a12-7db0a485931d.png)

[2020-10-23 10:04] gammaw commented on #25
@pvj I'm sure it's no surprise but here is the root cause so that we have it documented.

This is the log from `/app/aguni.log` in the arcsi container:

[code]

I'm sure that you're ahead of me debugging this. I'll try to help as this seems to be the main blocker of exposing arcsi on the frontend.

[2020-10-23 10:21] gammaw commented on #25
Does this help? https://stackoverflow.com/questions/24318084/flask-make-response-with-large-files

[2020-10-24 22:24] gammaw commented on #25
Above commit proposes a simple workaround for **download** via redirecting to the generated presigned DO URL. Note that the href can still be the API URL so that it remains persistent (always generates a fresh DO URL), looks nice (in the arcsi domain) and transportable (abstracts DO away). The expert user can see the redirect URL in the response but it shouldn't be a big deal. The pros are obvious

[2020-10-25 20:19] gammaw commented on #25
Added a small demonstrator for the easy solution via server code (here Flask but could be PHP in Wordpress).

[2020-10-26 07:28] gammaw commented on #25
One more addition: the branch is live on dev arcsi, there is no CORS issue there, hopefully there will be no such issue on the front-end side (see https://www.digitalocean.com/docs/spaces/how-to/configure-cors/).

[2020-10-28 11:55] gammaw opened #26 "Edit page should auto-select the original playlist"
Currently the first show in the list is auto-selected (and override the original if not set otherwise).

![image](https://user-images.githubusercontent.com/28865986/97432956-0bf0ab80-191d-11eb-8723-73f453809797.png)

[2020-10-28 16:09] gammaw opened #27 "Alphabetically sorted show names on add new episode form"
The little brother of https://github.com/mmmnmnm/lahmacun_arcsi/issues/19

[2020-10-30 08:22] gammaw commented on #14
Good idea. I was thinking to remember the lastly added episode's number in the show object (database) but in case you're adding earlier episodes, it's not a good strategy.

I will look into it.

[2020-10-30 16:46] gammaw commented on #15
@pvj sorry I didn't read this.

I guess it's a typo there. I meant "send **no** image".

If the arcsi user doesn't upload an image, then:
1. Azuracast: we don't need to send any image because our lahmacun.hu front-end will use the show's cover image. Question: can we send no image to Azuracast?
2. DO: we can use the show's cover image as well.

[2020-10-30 18:06] gammaw commented on #3
We discussed in the IT meeting that we can test how it looks like now (locally) and if we like it we can merge and launch (close this one) and create specific new issues on demand.

FYI @gammaw @pvj

[2020-10-30 19:54] gammaw commented on #3
@baxgas
Couple of comments:
Home:
- Long episode URLs still "overflow".
- Show headers with strange underline on ID part (why do we need the ID in the header?)
- Links not visible on show cards.

Add item form: I was thinking that another alignment, e.g. where the different checkboxes are under each other, would be helpful. It's very important which checkbox is selected (because of Azura and DO) s

[2020-10-31 12:27] gammaw commented on #14
Last commit implements a simple functionality: if no item number is specified, it looks for the highest existing number and increments it.

The feature to suggest a number on the form would be a bit trickier because the show selector is on the same form. The proposed feature is simple but it does the job and it helps us well I think.

The implementation may not be the most elegant one (it goes via

[2020-11-01 10:52] gammaw opened #30 "Disable crontab job for media files once all data archived"
Regular shows should be more or less safe by now (except for the "rare" shows). Also check the ambient and OFF AIR stuff.

Note: as of today the media archive eats 14G and we're close to full disk.

[2020-11-04 08:27] gammaw opened #31 "Upload error"
From `aguni.log` (`web` container on arcsi server):

[code]

[2020-11-09 01:24] pvj commented on #14
I get the general idea, and will review the PR shortly. I still think though that this should not be logic on the back-end.

[2020-11-09 01:42] pvj commented on #20
There was no issue for this, sorry. Just basic stuff that was lying around for way too long on my local branch. This are all below minimal requirements so just added it as-is. Sorry for not letting you know!

Yeah, there's debug, info, warning, error, critical [https://docs.gunicorn.org/en/stable/settings.html#loglevel] which is based off of general logging hierarchy order [https://i.stack.imgur.c

[2020-11-09 01:51] pvj commented on #25
Thanks for the write-up and sorry you had to double down on work I've been doing too. I should have shared my findings so we get together ahead faster.

I came to the same conclusions as you did and started working on the same changes. I vastly underestimated usage of memory for this type of architecture and to be honest it was stupid idea to double to space where we store our data even if tempora

[2020-11-09 02:16] pvj commented on #25
Another small consideration. We would be wise to look out for the filename we use at upload. Since this approach will make us lose the flexibility to set the attachment / file name at client layer.

We will simply serve the file from its source so in order to mask the original filename we need to make sure we don't use that at upload anymore.

I can take up that task but will make it headache as w

[2020-11-09 02:25] pvj commented on #3
Thanks for continuing the work and discussions around this!

But wait 1 second! Before we move onto the specifics I'd like to have discussion with you guys on what should be presented and how the site look like in general. Like thinking radically drastically big for 1 hour or so.

It's my fault that such proposal is not even available to you guys. Sorry. And I would like to also not discredit or e

[2020-11-09 02:33] pvj commented on #19
Just small note, so it is jotted down somewhere: This is / will be one of those cases where we have to think of the different user roles experiencing views differently.

We expect that new episodes will be added "within" shows -- either it means it's in show view where new episode forms are rendered (so no `show` selector in that case) or it might mean that the hosts have most of the time 1 or 2 s

[2020-11-09 02:41] pvj opened #32 "Add playlists"
Placeholder issue for now but this will be one of the first things to pick up.

Playlists will allow us many great things: users may be able to create their own collection of episodes they'd like to listen to; shows may be able to create seasons with the help of playlists; radio stations may be able to add non-show elements such as jingles, station ids, misc sounds to arcsi.

This means there are

[2020-11-09 13:24] gammaw opened #33 "Subdomain for storage (w/ certification renewal)"

[2020-11-09 14:26] gammaw commented on #25
That's a good sign! :)

Good idea, we can definitely look into it. I added an issue for it: https://github.com/mmmnmnm/lahmacun_arcsi/issues/33
I would look at it as an improvement which we wouldn't necessarily need for the first launch.
With the current solution, we don't show the storage provider for the naive user. The DL link is masked by the API, the player embeds the link (visible through in

[2020-11-12 13:30] pvj commented on #25
Yes that is what my question is about. We control how the file is named already, so my question is how to name the files before upload (naming schema) so that once they are D/L'ed they don't expose anything accidentally

We agreed that we should not archive by using the raw filenames.  "until we have automation for it" - we do have that, since we are the API is responsible for uploading the files

[2020-11-12 19:55] gammaw commented on #25
Oh I see! Now I get it. Do we have an issue for it already? If, not I would open one because it's orthogonal to this one (issue 25).

[2020-11-15 10:40] gammaw commented on #33
Done!
@pvj any idea of how we manage the cert refreshment? I see no solution but the manual one. Unfortunately, we cannot have recurring, reminder issues on GitHub. But we can have an always-open issue in the In progress column as a reminder.

[2020-11-15 10:41] gammaw opened #34 "Add 1-day archive delay for listing"
As we discussed, we filter the show archives based on their upload date and return them if day are > 1 day old.

[2020-11-15 20:38] pvj opened #35 "Streamline upped filename"
In the previous implementation we controlled the episode asset's filename on download. Since that no longer holds we should fix this issue at its root and devise naming schema during upload process.

[2020-11-15 21:25] pvj commented on #33
No, I'll think of something. We have 3 month's time, right?

On Sun, Nov 15, 2020 at 11:40 AM gammaw <notifications@github.com> wrote:

--
^\^

[2020-11-18 21:14] gammaw opened #36 "Auto-generate suitable item name upon upload"

[2020-11-18 21:15] gammaw commented on #25
@pvj will this do? https://github.com/mmmnmnm/lahmacun_arcsi/issues/36

[2020-11-18 21:40] #27 closed

[2020-11-19 18:49] gammaw opened #40 "Make item number optional (add new item)"

[2020-11-19 18:50] gammaw commented on #14
@pvj closed the PR for various reasons:
- I agree that a server-side implementation must be done via queries.
- Currently, episode numbers are too chaotic and the increment logic would not be much help.

I will icebox this issue and open a new one for a simply workaround: https://github.com/mmmnmnm/lahmacun_arcsi/issues/40

[2020-11-20 14:06] gammaw commented on #20
@pvj can it be that the bug triggers with @ char too?
FYI @baxgas

[2020-11-20 21:25] gammaw commented on #12
@pvj we may need it for a safe frontend arcsi launch, don't we? We may have zombie item entries that need to be deleted to protect the soundness of the frontend. What do you think?

[2020-11-20 21:46] gammaw opened #41 "Edit item error when uploading media"

[2020-11-23 13:20] gammaw opened #42 "Allow CORS for frontend"

[2020-11-24 08:24] pvj commented on #42
This should be good now, I added an example here too: https://github.com/mmmnmnm/lahmacun_arcsi/pull/43

[2020-11-24 08:45] gammaw opened #44 "Show filtering"

[2020-11-25 07:33] baxgas commented on #20
**Radio Bluszcze (via Radio Kapitał) - These last few days are among the happiest I've ever ignored** ÷ playlist not assigned

[2020-11-27 10:56] gammaw commented on #33
@pvj wrote  ![image](https://user-images.githubusercontent.com/28865986/100441104-35306300-30a6-11eb-9b70-57ab1f8057d6.png)

I'm for the public URLs. We need to adjust the link generation logic for the DL API then, right? If we work with public & static URLs, then we can store it in the DB don't we (and don't need to contact DO on every API call)?

[2020-11-27 11:12] gammaw commented on #25
@pvj wrote
![image](https://user-images.githubusercontent.com/28865986/100442723-c7d20180-30a8-11eb-8834-452b85e704b8.png)

I agree that we can/should use the `listen` API for that. And I don't intend to use the `file_url data` in the Python object/JSON response.

My commit was just a quick demonstrator using the `item` API to show that the original error (server issues through downloading files i

[2020-11-27 11:14] #34 closed

[2020-11-27 11:14] #36 closed

[2020-11-27 20:54] baxgas opened #45 "Show Filter doesn't work on Edit?"
Always show the first one, eg.

![image](https://user-images.githubusercontent.com/36408851/100484022-160ff080-30fb-11eb-87f1-3d580f66f20a.png)

[2020-11-27 21:01] #45 closed

[2020-11-27 22:39] gammaw commented on #33
We decided that we go with public storage custom subdomain URLs.

[2020-11-27 22:40] gammaw commented on #25
We decided to revert the `file_url` addition and make the `listen` API return the string URL.

[2020-11-28 19:48] gammaw commented on #25
@pvj the `listen` API should be fixed now. The `view` didn't work the way we thought it would because the audio source could not resolve the URL based on the arcsi API. So I changed the view code so that it first uses the API to request the URL and passes it for the HTML template.

https://github.com/mmmnmnm/lahmacun/issues/254 can go ahead using the new listen API.

[2020-11-30 20:35] gammaw opened #46 "Check prod arcsi DB for "healthy" episode entries + check if there is unarchived episode for the show"
Days to check: Sun, Mo (@baxgas), Tue, Wedn (@gammaw), Thur, Fri (@pvj), Sat (all)

[2020-12-04 00:44] #35 closed

[2020-12-07 20:19] gammaw commented on #20
Another: FJ Dec (online-audio-converter.com).mp3

[2020-12-10 08:12] gammaw opened #47 "Fix/upgrade server performance"
Issues:
- arcsi home is slow (not relevant for frontend launch)
- arcsi not responding (may be relevant for frontend launch)
- arcsi command line is not fully operational (e.g., out of mem for Docker commands)

Hints:
- Simple droplet upgrade from 1GB to 2GB
- Get rid of unnecessary dependencies (in req file)
- Do profiling and see if the code can be optimised, there are mem leaks etc.

[2020-12-11 17:31] gammaw opened #48 "Separate storage upload and download URLs"
- Upload URL: storage specific "ugly" URL
- Download URL: nicely formatted subdomain URL

[2020-12-26 09:21] gammaw commented on #48
@pvj this issue is done via https://github.com/mmmnmnm/lahmacun_arcsi/pull/50 right?

[2020-12-27 10:17] gammaw opened #51 "Server error with DB only no media entry"
If in case of live shows an entry is added to the DB without audio file, then
- server throws error when rendering item and
- edit never return when uploading audio media file.

See errors in aguni file and an excerpt here:

![image](https://user-images.githubusercontent.com/28865986/103168634-31266b00-4835-11eb-878e-df9c242eb23d.png)

[2020-12-27 10:21] gammaw commented on #47
See this branch for an experiment with gunicor threads config: https://github.com/mmmnmnm/lahmacun_arcsi/tree/%2347-perf

[2020-12-27 11:23] gammaw commented on #51
@pvj for me unexpectedly this line seems to cause the error: https://github.com/mmmnmnm/lahmacun_arcsi/blob/1ce16a135faa528f9050ca093f6f922c2b177400/arcsi/templates/item/view.html#L11

Neither the `/listen` and `/download` API calls don't cause an error in case of "DB-only no media" episode entries. The returned URLs are dummy but they're valid strings (the URL of the corresponding show).

[2020-12-27 20:53] gammaw commented on #51
Sorry for the idiotic commit message, it was meant to be a description, this one:
- API `item.py`: set empty string to kill root cause of bug for future entries (redundant with View item.py – read on)
- View `item.py`: tolerate error for legacy entries

[2020-12-28 10:45] gammaw commented on #47
Background of last commit: https://medium.com/building-the-system/gunicorn-3-means-of-concurrency-efbb547674b7

For 1 CPU, 2 * CPU + 1 = 3, which is the number when we have 1 worker and 2 threads for that worker.

[2020-12-28 12:36] #51 closed

[2020-12-28 12:40] #48 closed

[2020-12-28 12:44] #25 closed

[2020-12-28 12:45] gammaw commented on #46
@pvj @baxgas this issue covers to task / show now:
1. Check DB for "unhealthy" episodes
2. Check if show hosts sent us unarchived episodes.

[2020-12-28 12:50] gammaw commented on #47
No op for now. Mem is not an issue (on 1GB droplet we have around half of it available). CPU peaks (at 100%) when e.g. Home is loaded (that's one thread, so it's above worker/thread config cannot make it better). TODO for later: see how code can be improved for better performance. For example: high load is ok for Home cause it lists a lot of things, but not so ok for pages like Add New Item (where

[2020-12-28 12:50] #47 closed

[2020-12-29 11:15] gammaw opened #53 "Set public ACL for all files in storage"
Note: when I did it manually for one or two files, the links didn't work immediately, I had to play with purging the CDN (see also: https://www.digitalocean.com/community/questions/access-denied-for-new-file-uploaded-to-spaces-when-accessing-via-custom-subdomain-and-edge-url).

FYI @pvj

[2021-01-03 16:22] gammaw opened #54 "Arcsi stops bug"
We seem to be having something like this: https://github.com/petere/homebrew-postgresql/issues/51

[2021-01-03 16:22] gammaw commented on #54
Related branch: https://github.com/mmmnmnm/lahmacun_arcsi/tree/psql-version-err

[2021-01-04 20:30] gammaw commented on #54
Again, the root cause seems to be (in DB log).

`[644] FATAL:  unsupported frontend protocol 1234.5632: server supports 2.0 to 3.0`

Interestingly the dev server have it in the log too (running PSQL 10) and is still responsive.

The bug manifested again on prod, running PSQL 12.5 (was supposed to be fixed in 12.3) but other users also report having this issue in later versions (https://stackoverfl

[2021-01-07 22:19] gammaw commented on #54
According to test arcsi was stable for 2 days despite above error logs appeared again.

[2021-01-08 18:58] gammaw commented on #54
Next approach: restrict db client to be the arcsi app only via https://stackoverflow.com/questions/60173448/how-can-i-allow-connections-by-specifying-docker-compose-host-names-in-postgres

[2021-01-09 11:25] gammaw commented on #54
Following entries are still around in the log:

[code]

It seems to be random scans, bots who don't know that they're talking to PSQL, see: https://stackoverflow.com/questions/63472884/django-web-app-problem-with-operationalerror-psycopg2-operationalerror-serv

[2021-01-12 18:34] gammaw commented on #54
We've got a lead! Arcsi stops and the aguni.log is full of this (never stops, the same chunk over and over):

![image](https://user-images.githubusercontent.com/28865986/104357169-20504780-550d-11eb-8a5c-94e8c82cccd6.png)

[2021-01-12 19:00] gammaw commented on #54
@pvj I would say we go back to your PSQL version upgrade commit (5dde33d1e8f756913c7beb672211b371d77bd545) and create a new branch from there. W/ the new firewall rules, we don't need my PSQL config changes.

[2021-01-13 15:19] gammaw commented on #20
Although it's not related with the arcsi launch, it's probably our number one problem on the IT hetes side. I'll assign it to the milestone and we'll see if we have time for it.

[2021-01-15 22:39] gammaw commented on #54
Root cause found! Special characters in file name. E.g.:

[code]

[2021-01-24 10:46] #54 closed

[2021-01-24 10:49] gammaw opened #57 "Arcsi hangs (for stuck workers?)"
Arcsi stops mysteriously, maybe due to stuck worker/threads.

[2021-01-24 10:53] gammaw commented on #57
Root cause maybe this (no closing connection after requesting the home page):
![image](https://user-images.githubusercontent.com/28865986/105627988-64f7af00-5e3a-11eb-99c3-e2edc60628e9.png)

This is how it looks like when things go as expected (all GET has a Closing connection pair):
![image](https://user-images.githubusercontent.com/28865986/105628022-95d7e400-5e3a-11eb-99a1-3c5ff16e1dda.png)

No

[2021-01-24 10:59] gammaw commented on #57
Comment on previous commit: it may not have to do with the original issues (arcsi hangs) but it may be a meaningful consolidation.

FYI @pvj

[2021-01-24 22:28] pvj commented on #57
Yes, that's a good one! I defaulted expecting we would have to expand
processing power as we auto-master and edit audios but it was premature
probably. So it's bit too bad even to have this around on this branch while
we reach conclusion here. Shouldn't we just cherry pick and get it to
master? What do you think?

I'm trying to see why gthread doesn't behave like expected running
asynchronous call

[2021-01-25 08:35] gammaw commented on #57
Good point, while busy with audio processing (add new item), there is probably a CPU spike which would prevent the server from serving requests from the frontend. I'm not sure how severe this issue is (given the load of arcsi by an IT hetes vs the queries from the frontend), I would guess that it's not extreme.

Did you read the message with the last commit? The new config still uses gthreads. The

[2021-01-29 20:29] gammaw commented on #57
Measures:
- siege based parallel load test (mini benchmark)
- timeout test & config for gunicorn threads
- DB: check if there is no blocking access

[2021-01-30 18:48] gammaw commented on #33
Just checked: cert expires after 10 days from now

[2021-01-31 09:44] gammaw opened #58 "Lohuma Azura upload error"
![image](https://user-images.githubusercontent.com/28865986/106380242-23728100-63b1-11eb-9b0b-5ba7233fb0ed.png)

This happened today. How is it possible that we ever uploaded a Lohuma episode to Azuracast? Maybe we didn't?

[2021-01-31 10:24] gammaw commented on #58
Probably it's since we changed the name generation for file uploads. Since then, no Lohuma ep can be uploaded to Azura.

[2021-02-01 22:43] gammaw commented on #46
I did a first scan on Tue and Wedn and I only found one duplicate in the VENUS show which I deleted.

Here are the steps I followed:

0. Backup database by running `pg_dump -U [USER] [DATABASE] > filename` before I make changes to the database.
1. Run `psql -U [USER] -d [DB]` to log into database.
2. (optional) Run `\dt` to check what tables you have.
3. Find the episode you want to delete and run

[2021-02-05 11:12] gammaw commented on #33
I cannot think of an automation with the current solution. The inherent problem is that we need to temporarily change the DNS settings in the domain registrar to point to the server where we create/renew the certificate.

The best solution I can think of is to use DO's DNS service. This was an option we rejected because it seemed tedious/pricy. I checked now and the DNS handling [is free](https://

[2021-02-08 10:18] pvj commented on #58
Isnt here the problem w/ the fact this is not valid mp3? Filename ends in
part1

On Sun, 31 Jan 2021, 11:24 gammaw, <notifications@github.com> wrote:

[2021-02-08 15:37] gammaw commented on #58
The part1 is because it's the first chunk, no? You can see the same ending in the original error: https://github.com/mmmnmnm/lahmacun_arcsi/issues/54#issuecomment-761234391

I'm pretty sure that we didn't try to upload a file with mp3.part1 extension nor the show host sent us such a file.

[2021-02-12 20:29] gammaw commented on #53
Done. Thanks @pvj !

[2021-02-13 09:25] gammaw opened #60 "Firewall settings"

[2021-02-13 09:28] gammaw commented on #60
Renewing cert failed on the recent occasion due to blocked traffic on HTTP port -> I adjusted the settings and the renewal was successful. Still TODO for dev.

@pvj fyi

[2021-02-13 09:48] gammaw commented on #20
After adding the new slugify filename sanitiser, the playlist still could not be assigned.

![image](https://user-images.githubusercontent.com/28865986/107847067-ca5f1000-6de8-11eb-8e86-fe7b158fc7f9.png)

[2021-02-19 23:48] gammaw opened #62 "Filter and sanitise special chars in episode names that might break the radio server"
It seems to be an upstream (Azuracast) bug* but don't we want to filter out double quotation marks?

*Default cover art URL is sent in Azuracast's nowplaying API (although there is a custom cover art uploaded). Note: not sure though why our frontend cannot set the link to the show sub page. When double quotation mark is removed (e.g., replaced with single quotation), everything looks good again.

[2021-02-22 11:01] pvj opened #63 "Add daily overview view"
W/ all the data we get we should ideally be able to create a view which displays

all the shows scheduled for today
the episode that is scheduled to broadcast
Maybe extra indicators on the front-end if it is new yet unaired episode (helps the communication team to prepare or something) | there are know episodes selected for broadcast (helps the radio team to contact host about the situation at han

[2021-02-22 18:45] gammaw opened #64 "Cannot locally edit item without "falsifying" the archive/broadcast flags"
Use case example: change the description of an item -> should only affect arcsi locally. Instead, it will make the archive and broadcast flags to be false (because there is no upload to DO/Azuracast).

[2021-02-22 18:48] gammaw commented on #63
Wow! I would love it! Very good idea, very good use cases.

You assigned the project to the issue so it's good to go in the Kanban view as well.

We can define a new milestone (like [this](https://github.com/mmmnmnm/lahmacun_arcsi/milestone/2)) for the usability enhancements like this and for other ideas by @baxgas, which we could start implementing after the arcsi launch (parallel to the Azuracas

[2021-02-23 16:38] gammaw commented on #33
Done as discussed above.

[2021-02-23 16:40] gammaw opened #65 "_jpg extension for item art work"
Probably the same for other picture formats (png etc.)

[2021-02-24 21:46] gammaw commented on #60
Done.

[2021-02-24 21:47] gammaw commented on #33
Did for dev too.

[2021-02-24 21:48] gammaw opened #66 "Add automatic https certificate renewal"
Currently, nginx container needs to be downed and upped to force certbot run again. Consider adding similar solution as for frontend.

[2021-02-24 21:49] gammaw commented on #66
Cert for dev expired, forced renewal now.

[2021-02-26 20:36] gammaw commented on #58
Done via this: https://github.com/mmmnmnm/lahmacun_arcsi/pull/59

[2021-02-26 20:36] #58 closed

[2021-02-27 11:09] gammaw commented on #65
See here https://github.com/mmmnmnm/lahmacun_arcsi/pull/67

[2021-03-06 09:50] gammaw opened #69 "Error while adding new show"
Cannot add new show, probably since here: https://github.com/mmmnmnm/lahmacun_arcsi/commit/45594d38e60f9006c10858b2f9894f240f861fcd#diff-07f44b067558db42861b61488f3f0d808b24cadc9e6208a650b5242c35dd328b

@pvj can you check? Here the trace:

![image](https://user-images.githubusercontent.com/28865986/110202532-8bf9c580-7e69-11eb-9219-4cf70dafb8a4.png)

[2021-03-10 12:47] pvj commented on #69
Working on this on the `more-filenaming` branch

[2021-03-11 06:34] baxgas opened #70 "Upload and Edit Episode - Default disabled selector"
Insert a disabled Select Option instead of 1-800-venus

[2021-03-11 20:06] gammaw commented on #57
Absolutely! I was gonna ask the asme.

[2021-03-12 19:50] pvj opened #71 "Basic uptime monitoring"
We should have simple rules and service to:
 - look after the health of arcsi
 - inform the team when arcsi is down

Nice to have:
 - log attached or some datetime for context

[2021-03-12 20:09] pvj opened #72 "Review log messages and log levels"
We are currently logging too verbose. It is hard to figure out what needs attention and what is just noise, we should aim to reduce this.

[2021-03-12 20:13] baxgas opened #73 "Make Edit screen same as Upload"
Nicer in rows

[2021-04-04 11:39] #65 closed

[2021-04-04 19:58] gammaw commented on #72
Note: all non-app log entries I know of (e.g., `GET` or `Closing connection`) are entered by gunicorn (see for example: https://github.com/benoitc/gunicorn/issues/1952). Related docs:
https://docs.python.org/3/library/logging.html
https://docs.gunicorn.org/en/stable/settings.html

[2021-04-07 19:45] gammaw commented on #26
@pvj do we need a discussion for that? I guess we need an edit item feature anyway (even if we change a lot on the arcsi GUI) so that this feature request would apply.

[2021-04-08 19:44] pvj commented on #26
That's right

[2021-04-15 21:46] gammaw commented on #20
Out of the blue, it happened today again, with a file called `masodik.esely.mp3`. Maybe the error wasn't because of the file name, I'm just guessing, but the dot looked suspicious in the file name. The result of the normalisation looks good (`radio_melania-masodik_esely.mp3`) at least I wouldn't know why Azura has a problem with it. Can it be character `-`? @pvj what do you think?

[2021-04-17 10:55] gammaw commented on #69
Workaround until this: use the tagged commit https://github.com/mmmnmnm/lahmacun_arcsi/releases/tag/0.1 to add new show (just did it again for a missing show).

[2021-04-17 11:15] gammaw opened #85 "Initial MP3 embedded metadata overrules in Azuracast"
For example:

![image](https://user-images.githubusercontent.com/28865986/115111063-bff2fb00-9f7e-11eb-888a-c893e35c3cc3.png)

Issue: Title/Author info will be used by Azuracast after arcsi upload

Fix: explicitly delete this metadata in arcsi?

[2021-04-22 20:18] pvj opened #86 "Update setup docs to reflect new setup method"
Current is not reflecting reality anymore and also it hides some complications

[2021-04-23 20:25] gammaw opened #87 "Display items in play date order (desc) on show page"
_Originally posted by @gammaw in https://github.com/mmmnmnm/lahmacun_arcsi/discussions/84_

[2021-04-23 20:42] baxgas commented on #73
@pvj small fixes for add and edit

[2021-04-23 20:55] pvj commented on #73
Thanks! I like all your changes! Adding divs, and changing the parent show
and language selector will be real helpful day-to-day. I have a question
w/r/t parent show dropdown. Maybe that could be also fixed as next step?

@gammaw or me should restart the prod so we can keep the test srv checked
out in the state needed for identifying the worker-hanging issue. What do
you think, @baxgas @gammaw?

O

[2021-04-24 07:45] baxgas commented on #73
@pvj feel free to implement it whenever you feel right. sorry I forgot to push it in to new branch :-(

[2021-04-24 19:15] gammaw commented on #57
It seems we have the áhított freeze on dev too (fyi @pvj):

[code]

[2021-04-24 19:20] gammaw commented on #73
I agree. Let's see when we need dev again. For this change, I also don't think it's necessary to change anything on dev. I tested locally and it looks good. Since it's on master either we revert it or we keep it. Since it seems to be a cosmetic change we can keep it, I would say.

[2021-04-26 18:37] baxgas commented on #73
@pvj I made the default show change, great idea! Pushed it back (but again forgot the issue id :-( )

[2021-04-27 11:15] pvj commented on #57
🥇 ⛵ Wee woo! That's great! Did you manage to trigger it? Is it reproducible in any way? Maybe I'm missing some context. Thanks let's now follow the trail and see where that leads us!

[2021-04-27 11:17] pvj commented on #73
@baxgas No problem. For reference it is this commit right? ccf7f2577a6e158d221a87c460b9e07d6744f319

I agree with all you're writing @gammaw you are right.

[2021-04-27 14:07] gammaw commented on #57
No it wasn't me unfortunately. I asked you the same in the chat, I hoped it was you :)

The HEAD requests are there again but maybe any other request of the home would trigger the freeze. It can be seen that a HEAD request triggers the "triple call" too.

[2021-04-27 15:15] pvj commented on #57
Oh, too bad! Thanks for capturing it. Let's continue to discuss this in
chats.

On Tue, Apr 27, 2021 at 4:07 PM gammaw ***@***.***> wrote:

--
^\^

[2021-04-30 23:26] #69 closed

[2021-05-02 09:13] baxgas opened #89 "Fix annoying image size and overflowing texts"

[2021-05-07 15:15] #33 closed

[2021-05-07 15:15] #46 closed

[2021-05-07 15:15] #53 closed

[2021-05-07 15:16] gammaw commented on #44
Not sure what it is. Closing it.

[2021-05-07 15:16] #44 closed

[2021-05-07 15:18] #72 closed

[2021-05-07 15:19] #42 closed

[2021-05-07 15:20] #66 closed

[2021-05-07 15:23] gammaw commented on #86
Related: https://github.com/mmmnmnm/lahmacun_arcsi/issues/8

[2021-05-07 15:26] gammaw commented on #26
Done here ccf7f2577a6e158d221a87c460b9e07d6744f319

[2021-05-07 15:26] #26 closed

[2021-05-09 21:39] pvj commented on #20
One known bug happens when

-The radio backend has a file uploaded and added to playlist
-a new radio item is published from arcsi to the backend with the same filename
-in this case the radio backend thinks it is the same file incoming (which is valid idea on their part I think) so it just skips uploading the new file and returns success response
-we run w/ the success message and try to remove t

[2021-05-10 08:28] gammaw commented on #20
Or we increment in the file name at arcsi when we do a reupload? It happens sometimes that show makers send a new version.

@baxgas make sure you too delete the file on azura before uploading a new version.

[2021-05-10 08:34] pvj commented on #20
Yeah, good point! we can do that too but that is a bigger change. It means
we support versioning basically.

On Mon, May 10, 2021 at 10:28 AM gammaw ***@***.***> wrote:

--
^\^

[2021-05-10 18:35] gammaw commented on #20
Ok, I have no idea too. I'm closing it and we can reopen it when we have a better witness.

[2021-05-10 18:35] #20 closed

[2021-05-10 21:15] gammaw commented on #73
On master, closing it.

[2021-05-10 21:15] #73 closed

[2021-05-10 21:25] gammaw opened #90 "Create initial arcsi architecture design document"
In PlantUML, Papyrus?

[2021-05-11 15:28] pvj commented on #20
I opened up a discussion so we don't lose track of this! https://github.com/mmmnmnm/lahmacun_arcsi/discussions/91

[2021-05-11 20:23] gammaw commented on #62
Heads up @pvj @baxgas: don't enter quotation marks on the arcsi frontend (in case we receive one from the show host).

[2021-05-11 20:27] gammaw commented on #40
@pvj what do you think?

[2021-05-11 20:29] gammaw commented on #32
@pvj now that we have discussions, wouldn't this be better there?

[2021-05-11 20:31] gammaw commented on #31
No witness, lack of context. Closing it.

[2021-05-11 20:31] #31 closed

[2021-05-11 20:33] gammaw commented on #30
Done. Lessons learnt: use `crontab -e` for editing the cron file otherwise (through direct file edit) the change may not take effect...

[2021-05-11 20:33] #30 closed

[2021-05-11 20:36] gammaw commented on #19
ABC sorting is done + see above comments, closing it.

[2021-05-11 20:40] #16 closed

[2021-05-11 20:44] gammaw commented on #14
Stale + workaround issue exists, closing it.

[2021-05-11 20:44] #14 closed

[2021-05-11 20:45] gammaw commented on #13
See related issue: https://github.com/mmmnmnm/lahmacun_arcsi/issues/18

[2021-05-11 20:46] #12 closed

[2021-05-11 20:57] gammaw commented on #6
Should we keep it here, or should it go to discussions? @pvj what do you think?

[2021-05-18 20:01] pvj opened #95 "ISE after registration"
Once you register as new user we sometimes see an ISE being thrown as response.

We should look into when this happens.

[2021-05-20 19:03] #8 closed

[2021-05-21 10:10] pvj commented on #71
@gammaw Didn't you introduce something that solves this? Or was that for lahma radio only?

[2021-05-21 10:11] pvj commented on #62
Also see issue w/ spec chars not being sanitised: https://github.com/mmmnmnm/lahmacun/issues/330

[2021-05-21 10:25] pvj commented on #57
I think I will look into this next

[2021-05-21 10:27] pvj commented on #6
I think we should keep it here and plan on a milestone with communication/auth/user related improvements

[2021-05-21 10:29] pvj commented on #7
Fixed by 196d928 on #96

[2021-05-21 10:30] pvj commented on #32
Personally I don't think it makes sense to backtrack to discussion and then turn it back into an issue but of course this doesn't mean we don't have to discuss lots of things regarding it.

It is quite important to flesh this out lot more.

I leave it up to you where you feel better and easier to talk and plan this.

[2021-05-21 10:32] pvj commented on #40
I think auto-suggest on front-end would be the way to go

[2021-06-03 16:20] gammaw commented on #71
Yes, it's for arcsi too. Closing it.

[2021-06-03 16:20] #71 closed

[2021-06-03 16:33] gammaw commented on #6
Good idea! Created a milestone and assigned it to this one.

[2021-06-04 17:54] #87 closed

[2021-06-04 17:57] #89 closed

[2021-06-05 10:37] gammaw opened #103 "Cannot upload live episodes without audio"
Source: introduced an undesired side effect in this PR https://github.com/mmmnmnm/lahmacun_arcsi/pull/99

Root cause: API requires both valid image _and_ audio file for valid add new item request.

Side effect: live episodes without audio files cannot be uploaded

[2021-06-05 14:32] pvj commented on #103
Good catch thanks!

On Sat, Jun 5, 2021 at 12:37 PM gammaw ***@***.***> wrote:

--
^\^

[2021-06-05 15:03] pvj commented on #86
@gammaw okay to close this one?

[2021-06-05 15:06] pvj opened #105 "Create email base template"
This may be as simple as adding a header for subject a paragraph / bulletpoint list for content

[2021-06-05 15:10] pvj opened #106 "Create mail sender queue"
First order of tasks for the mail server should handle autonomous communication of some radio server specific messages
 - send out info on new uploads
 - send out info on upload error
 - send out info listen/download

[2021-06-05 15:15] pvj opened #107 "Create new auth handling views"
The front-end client and the views handle and authenticate users and we have also roles and requirements in place. This allows to fine-tune who may access what. We should translate this functionality to not just views but also requests if possible by using the same session as the front-end client uses

 Sister of #108

[2021-06-05 15:17] pvj opened #108 "Auth token handling view"
We currently handle session tokens and user auth implicitly by just marking up the routes and checking these from the back-end but we should make sure that this is functionality for at least the admins on their user setting views so we can easily add / revoke them by just visiting the settings page

Sister of #107

[2021-06-05 15:27] pvj opened #109 "Add current short commit hash to footer"
I hope the title is self-explanatory but I think it would be easier for multiple reasons to add this to footer or an `/build` endpoint with some other info helpful for development / debugging. May only be rendered on dev environment.

[2021-06-05 18:09] #103 closed

[2021-06-05 20:38] gammaw commented on #86
I think yes. Docs here means more the structure/comments/exact content in the config files and other files that are needed to get arcsi running (mainly from scratch), right? In this issue we didn't mean updating README.md, for example, which I think is still okay (and it is a file that keep editing as needed). Am I right? I'm sure we could improve on documenting how to import a test DB and things

[2021-06-06 21:59] pvj commented on #86
Yes, I also believe this to be about templates and examples. The readme is
a live document that is revised and gets better - hopefully - all the time!

On Sat, Jun 5, 2021 at 10:38 PM gammaw ***@***.***> wrote:

--
^\^

[2021-07-10 10:09] gammaw opened #112 "Let's Encrypt/certbot renewal seems to fail"
Although renewal attempts seem to be fine when it's not yet due, the actual renewal seems to fail.

Strategy: check what goes wrong on next due renewal

FYI @pvj

[2021-07-15 20:44] pvj opened #113 "Optimise response with nested materials"
Some endpoints have quite heavy payloads -- a show endpoint shouldn't load all the related episodes and all the metadata for them, and download all data.

Also if I have a list of episodes w/ images to download on a list page we should request the original files to download each time.

[2021-07-30 08:13] gammaw commented on #85
Happened today again. I added the bug label.

[2021-07-30 08:19] gammaw opened #114 "Log add new item error"
I had the case today that I got the `Some error happened, check server logs for details. Note that your media may have been uploaded (to DO and/or Azurcast).` error upon adding a new item and there was no error message in the log.

I think we should make sure that we log the root cause of the error in this case.

See https://github.com/mmmnmnm/lahmacun_arcsi/blob/020bda31674c6250ca0e4c2919fca63221

[2021-08-27 14:20] gammaw opened #116 "Rare show changes (arcsi)"
See frontend/LS side counterpart: https://github.com/mmmnmnm/lahmacun/issues/433

[2021-09-10 17:43] pvj commented on #1
PR opened at #115

[2021-09-12 17:34] baxgas opened #117 "WYSWIG editor for descriptions"
Is there a good plug-n-play package?
Markdown or HTML?

[2021-09-15 10:13] #1 closed

[2021-09-21 17:52] baxgas opened #118 "Update arcsi db with current active/passive shows, duplicates and correct schedule"

[2021-09-21 21:03] baxgas commented on #118
As we see on the New Website, some entries have legacy data, and some episodes are duplicated

[2021-09-24 20:31] gammaw opened #119 "https certificate fails to renew and expires"
**Bug**: `certbot` container fails to renew certificate.

**Reason (w/ certbot's webroot)**: `webroot` path is not a joint volume across the `nginx` and `certbot` containers. As a result, the http challenge via `webroot` cannot be checked by Letsencrypt.

**Reason (w/ cerbot's standalone)**: it's not an ideal solution for is cause `nginx` is using port 80 so the system would need to be shut down u

[2021-09-27 10:57] auracherS commented on #119
I had a similar problem
humhub server failed to renew the SSL certificate
the reaseon is that the recommended installation from
https://docs.humhub.org/docs/admin/server-setup/
recomends
apt install certbot
certbot certonly --standalone -d temp.humhub.dev
This is ok for first instalaltion. Especially tomhave an SSL certificate befor the webserver is installed. But after 30 days, at this pint my SS

[2021-09-28 10:05] gammaw commented on #119
@auracherS thanks. We already have a webserver in place so we can use the `webroot` authenticator method.

[2021-09-28 21:02] #119 closed

[2021-09-28 21:07] gammaw commented on #119
Final note: a new `certbot certonly --webroot ...` command was enough (there was no need to delete or to renew the existing), as a result, the cert has been renewed and the authenticator has been changed from `standalone` to `webroot`.

[2021-09-28 21:30] gammaw commented on #119
Final final note (lesson learnt): you'll need to restart the web server so that it serves the renewed certificate.

[2021-09-30 07:32] baxgas opened #122 "Store images in full/thumbnail formats"
Have two versions for every image:
thumbnail (square crop, 450x450px), high (original aspect ration, max. 1600x1600px)
also the corresponding API endpoints: `cover_image_url_thumb` and `cover_image_url_high`
(actualy 3 versions, since the original image could also stay)

maybe this? https://auth0.com/blog/image-processing-in-python-with-pillow/

[2021-10-09 14:06] baxgas commented on #118
Check if I have older episodes saved and upload

[2021-10-10 21:18] #116 closed

[2021-10-12 05:25] baxgas opened #123 "Improve arcsi rest endpoints"
Just checked the swagger, nice job @tuz666 !
Would be nice to have a `shows/all?=basic` (or some other name) that would give back just the basic shows data (`name, description, time...`), without all the items (arcsi episodes). That would make the basic request for the ananasz calls much smaller.
For `item` (episode) would it be possible to have a queryable `slug` endpoint, so they can be queried

[2021-10-13 20:28] baxgas opened #124 "Add Tags option to Shows"
store in array, with REST API endpoint access.
For now two entries: `Music`, `Talk` ÷ but with option to add freely any tag (`select` and `input` fields?)

[2021-10-16 08:26] gammaw commented on #124
@baxgas for now can we use WP to query the show tags?

[2021-10-16 09:43] baxgas commented on #124
@gammaw we don't use shows list from the wp page, only arcsi
in wp REST the posts are queried by ID,
`$ curl https://example.com/wp-json/wp/v2/posts/<id>`
Have no idea how we could programmatically figure out this from arcsi shows. It is much easier to implement this in arcsi db, than to hack around and make cross-checks or whatever

[2021-10-31 14:59] pvj commented on #123
Sorry for not responding here @baxgas

Good suggestions. We are already looking into the first, trying to work out the cleanest solution. We might simply just not add the episodes to shows or list only their ids, instead of the full-blown object. We'll see and let you know.

Second suggestion is something we already do, no? If you check the items under a show, you get the same results as querying

[2021-11-05 17:03] pvj commented on #107
We planned how we will move forward w/ this.

We will depend on `flask-praetorian` for handling role-based access & API auth.

We will create token handling during login-flow parallel to the already existing one.
  - We will recreate login view and templates,
  - create login endpoints on the back-end,
  - we *might* have to touch the models & our schemas while we are doing so as well,
  - we also

[2021-11-05 17:05] pvj commented on #108
Adding API key generation and handling to the front-end might be an extra we will only add if we sail past all the other must-haves. So for now I'll remove it from this milestone. Sorry~~~

[2021-11-05 17:31] pvj opened #126 "Create new auth handling logic"
As mentioned in #107 we are in the middle of creating auth handling views that lets us decouple from the current dependency that handles our auth routes & views.

In order to remove that dep we have to adopt some auth logic that authenticates & authorises incoming requests.

For that we must change our api route handling:
 - All requests are only valid if an active, existing token is passed -- pre

[2021-11-05 21:42] gammaw commented on #118
I found it at assigned to @pvj as discussed. Fyi @baxgas

[2021-11-14 13:05] pvj commented on #123
@baxgas please take a look at @tuz666 's nice PR and let us know what you think from the front-end side please

[2021-11-14 13:42] baxgas commented on #123
Thanks @pvj

[2021-11-15 10:51] gammaw commented on #123
Great efforts!

Can you help me to understand a couple of things.

@baxgas writes:

Why is this needed (query by slug vs query by ID)?

@tuz666 writes (in the PR):

Don't you mean `/show_slug/episode_slug`?

[2021-11-23 18:27] gammaw commented on #122
@baxgas @pvj I wasn't sure if we considered this for rework MVP? @molnar-a told me that the high res pictures are an issue for the app and it would be good to have smaller sizes.  I now added this issue to https://github.com/mmmnmnm/lahmacun_arcsi/milestone/7 assuming that we need to do it for the MVP, but we can remove it if we decided that it's not needed.

[2021-11-26 18:08] pvj commented on #123
I'll move this to a separate ticket because it's schema-related update to add `listening_count`

Otherwise we merged this PR #127 just now so all others requests are done:

For the `show/all` we now only return:

`"id", "active", "name", "description",
                                                         "week", "day", "start", "end",
                                                         "c

[2021-11-26 18:08] #123 closed

[2021-11-26 18:08] pvj commented on #123
Congrats @tuz666 and many eternal hails!

[2021-11-26 18:19] pvj opened #128 "For huge queries introduce pagination"
As the archive grows some endpoints became huge. It will only keep growing so it'd be best to limit the max items returned across the whole application.

This issue should be aimed at all list endpoints (items|shows|users|etc)

In order for this feature to work we need minimum 1 parameter that lets us know the location of pagination. Like `?page=1` or `starts_at=123456789`

The argument we get for

[2021-11-26 23:12] pvj opened #129 "Feature: Store anonymised totalled counts of listening and downloading"
Having a number of listeners and downloads for stored episodes and shows can be useful internally and externally both

In our schema we already have `download_count` we don't use it however. On each successful request to the episode download endpoint we should increment this value and commit it to db

We need to expand our schema and introduce `listening_count` which I think is missing.

These bot

[2022-02-13 10:23] gammaw opened #140 "Adjust episode slug endpoint with hashed file names"

[2022-02-20 11:24] gammaw commented on #114
Probably related: https://github.com/mmmnmnm/lahmacun_arcsi/pull/142/

[2022-03-08 12:18] gammaw opened #144 "Restrict item name hashing to show scope"
Description: item name will be hashed in case of match w/ existing item in other show (e.g., 18. rész in Mélyvágás vs Üdcsi).

Thanks @tuz666 for the finding! I'll check.

[2022-04-06 07:20] gammaw opened #145 "Doc: indicate if API is date filtered"
E.g., `/list` and `/all_without_items` APIs do not but `/page` and `/latest` APIs do the current date-based filter for items.

[2022-04-06 08:53] gammaw opened #146 "Clean up arcsi API"
E.g., get rid of `/show/all_without_items` (see https://github.com/lahmacunradio/frontend/issues/256)

[2022-04-06 09:02] gammaw opened #147 "Refactor high-level API code"
E.g., rethink `get_shows()` method, see https://github.com/lahmacunradio/arcsi/pull/143#discussion_r842475579

[2022-05-22 15:03] pvj commented on #147
Meeting memo: Checked w/ @tuz666 this `get_shows()` util method has been implemented in #141 so I think the exact sub-task here has been resolved.

However, we do need to rewire high-level API functions and decompose them clearer so I would want to keep this open

[2022-05-22 15:11] pvj commented on #128
This has been done marvelously well by @tuz666 so it goes without saying we could close

[2022-05-22 15:11] #128 closed

[2022-11-28 08:59] tuz666 opened #161 "Extend CI tests with negative tests"
During previous PRs [153](https://github.com/lahmacunradio/arcsi/pull/153) and [139](https://github.com/lahmacunradio/arcsi/pull/139), it turned out that negative tests should be added to the CI testcases.
In 153 I removed some unused imports ([1](https://github.com/lahmacunradio/arcsi/pull/153/files#diff-3ad18bba009f013066c2b17afff7663ac9eaa4159fa4656a0d93d3336f4b5dd9L11), [2](https://github.com/